.nav-icons i {
  font-size: 1rem !important;
  color: var(--white);
}
.header-wrapper .logo-nav {
  font-size: 1.5rem !important;
  font-weight: bold;
}
.header-wrapper .navbar-nav a.active {
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-thickness: 3px;
}
.header-wrapper .nav-icons a.active i {
  border: 2px solid white;
  border-radius: 10%;
  padding: 4px;
}
.user-info:hover {
  cursor: pointer;
  .sign-out-user {
    display: block !important;
    border-radius: 5px;
    border:1px solid;
  }
}
